.box1 {
    border: red 1px solid;
}

.box2 {
    border: blue 1px solid;
}

.box3 {
    border: yellowgreen 1px solid;
}

#doboz-1 {
    margin: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#doboz-2 {
    height: 100px;
    width: 300px;
    background-color: wheat;
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}